@import "/src/style/App.css";

.main-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
}

.search-container {
    display: flex;
    margin: 50px;
}

.search-icon-container {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    background-color: var(--contrast-color);
}

.search-icon {
    width:60%;
    height: 60%;
}

.search-input {
    width: 450px;
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--contrast-color);
}

.search-btn {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    color: var(--contrast-color);
    background-color: var(--terciary-color);
}

.category-menu-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
    margin: 10px;
    gap: 40px;
    justify-content: center;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

.counter-container {
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.counter-container p {
    margin: 0 10px;
}

.counter {
    counter-reset: score var(--num);
    animation: countUp 7s ease-out forwards;
}

.counter::before {
    content: counter(score);
}

@keyframes countUp {
    from {
        --num: 0;
    }
    to {
        --num: 102;
    }
}

@media (max-width: 1100px) {
    .search-input {
        width: 300px;
    }
    
    .category-menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}